{% extends "layout.html" %}

{% block title %}
    Vriend toegevoegd!
{% endblock %}

{% block main %}
<style>
  p {
    padding: 50px 0px 15px 0px;
  }
</style>
<form action="{{ url_for('toegevoegd') }}" method="post">
  <center><h2><p>{{ toetevoegenvriend }} is met succes toegevoegd!</p></h2></center>
  <center>
    <div class="text">Nog meer vrienden toevoegen? <a href="/vriend">Klik hier!</a></div>
    <div class="text">Keer terug naar de <a href="/index">homepage</a>!</div>
  </center>
</form>
{% endblock %}