{% extends "layout.html" %}

{% block title %}
    Disclaimer
{% endblock %}

{% block main %}

<center><bold><h3>Disclaimer</h3></bold><hr>

<h4>Risico op onjuistheden</h4>
<p>Fouten in de filminformatie zijn onder voorbehoud.<br>
Onze data is afkomstig van The Movie Database (TMDb).<br>
Echter, een paar keer constateerden wij onjuistheden in de TMDb database.<br>
Zo zijn er een paar Nederlandse films die volgens TMDb een andere taal hebben.<br>
Een voorbeeld: de film TBS is niet Nederlands volgens <a href="https://www.themoviedb.org/movie/7267-tbs?language=nl-NL">TMDb,</a><br>
maar volgens andere sites zoals <a href="https://www.imdb.com/title/tt1092019/?ref_=nv_sr_1">IMDb</a> wel.

<h4>Niet alles werkt</h4>
<a>Dingen waarvan wij ons bewust zijn dat ze (nog)<br>
niet werken zijn terug te vinden in het "Read me" bestand op GitHub.</a>

<h4>Privacy</h4>
<a>Door deze dienst te gebruiken gaat u er mee akkoor dat uw vrienden <br>
op NL Films inzage mogen hebben tot uw favoriete film. U kunt op uw beurt <br>
ook de favorieten bekijken van uw vrienden.</a>

</center>
{% endblock %}